$primeC: #ffffff;
$taptap_pcolor: #e04b40;
$padding_prime: 20px;
$padding_main: 20px;

.container{
    background-color: $primeC;
    nav{
        background-color: $primeC;
        width: 100%;
        height: auto;
        box-shadow: rgba(125, 125, 125, 0.4) 0 0 10px 0;
        .nav-box{
            background-color: $primeC;
            width: 100%;
            height: auto;
            flex-direction: row;
            .logo-box{
                background-color: $primeC;
                padding: 10px $padding_prime;
                height: auto;
                img{
                    vertical-align:bottom;
                    width: 40px;
                }
            }
            .vRel{
                flex: 1;
                justify-content: flex-end;
                float: right;
                box-sizing: border-box;
                .vBox{
                    font-family: 'Roboto', sans-serif;
                    color: #aaa;
                    padding-right: $padding_main;
                }
            }
        }
    }
    header{
        .header-box{
            padding: 30px $padding_prime 20px $padding_prime;
            h1{
                font-family: 'Lato', sans-serif;
                font-size: 25px;
                span{
                    color: $taptap_pcolor
                }
            }
            p{
                margin-top: 10px;
                color: #555;
                font-size: 18px;
                font-family: sans-serif;
                font-weight: 600;
            }
        }
    }
    main{
        section{
            width: 100%;
            height: auto;
            .sub-section{
                position: relative;
                box-sizing: border-box;
                width: 100%;
                height: auto;
                padding: 0 $padding_prime;
                a{
                    width: 100%;
                    font-size: 18px;
                    color: $taptap_pcolor;
                    text-decoration: none;
                    .buttonLink{
                        padding: 15px 10px;
                        width: 100%;
                        text-align: center;
                        box-shadow: rgba(125, 125, 125, 0.4) 0 0 8px 0;
                        border-radius: 20px;
                        background-color: $primeC;
                    }
                }
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
            .video-YouTube{
                iframe{
                    width: 100%;
                    height: calc((100vw/16)*9);
                }
            }
            .image-Source{
                width: 100%;
                img{
                    vertical-align: bottom;
                    width: 100%;
                }
            }
            .textBox{
                box-sizing: border-box;
                width: 100%;
                padding: 0 $padding_prime $padding_prime $padding_prime;
                textarea{
                    resize: vertical;
                    font-size: 18px;
                    padding: 5px;
                    min-height: 130px;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
            .text-non{
                padding: 30px $padding_prime 20px $padding_prime;
                font-size: 20px;
            }
        }
    }
    footer{

    }
}
